<div class="hero-image" >
    <div class="hero-text">
        <h2 id="welcome">Welcome to our service student</h2>
        <form class="s" (ngSubmit)="login()">
        <table>
            <tr>
                <td>
                    <input type="email" title="email" class="form-control" [(ngModel)]='user.email' placeholder="ADRESSE EMAIL" [pattern]="emailpattern" name="email"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" class="form-control" title="password" [(ngModel)]='user.password' placeholder="PASSWORD"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-outline-success btn-primary">Login</button>
                </td>
            </tr>
        </table>
        <div *ngIf="verifier()" class="alert alert-danger mt-3" role="alert" id="alert">
            CHECK YOUR PASSWORD OR YOUR EMAIL PLEASE TRY AGAIN
          </div>
          <div *ngIf="loginSuccess" class="alert alert-success mt-3" role="alert" id="alert">
            LOGIN SUCCESSFUL
          </div>
    </form>
</div>
</div>